HAP-python[QRCode]==4.4.0
setuptools==68.0.0
PyQRCode~=1.2.1
fnvhash~=0.1.0
websocket~=0.2.1
websocket-client==1.6.1
#websocket-client==1.4.2
urllib3==2.0.3
requests==2.31.0
rgbxy
PyYAML~=6.0
Flask==2.3.2
waitress~=2.1.2
base36~=0.1.1
