hap-python~=4.5.0
setuptools==63.2.0
PyQRCode~=1.2.1
pyhap~=0.1.1
fnvhash~=0.1.0
websocket~=0.2.1
websocket-client==1.3.3
requests==2.28.1
urllib3==1.26.10
rgbxy~=0.5
PyYAML~=6.0
Flask==2.1.3
waitress~=2.1.2
base36