HAP-python[QRCode]==4.9.2
setuptools==70.0.0
PyQRCode~=1.2.1
fnvhash~=0.1.0
urllib3==2.2.2
requests==2.32.0
rgbxy
PyYAML==6.0.1
Flask==2.3.3
waitress~=3.0.1
base36~=0.1.1
websocket-client~=1.6.3
psutil~=5.9.5
prometheus_client